/bitrix/activities
/bitrix/admin
/bitrix/cache
/bitrix/components/bitrix
/bitrix/gadgets/bitrix
/bitrix/controller_log
/bitrix/images
/bitrix/js
/bitrix/managed_cache
/bitrix/stack_cache
/bitrix/modules
/bitrix/otp
/bitrix/sounds
/bitrix/template
bitrix/image_uploader
/bitrix/tmp
/bitrix/tools
/bitrix/wizards/bitrix
/bitrix/*.php
/bitrix/php_interface/dbconn.php
/bitrix/web.config
/bitrix/panel
/bitrix/p3p.xml
/bitrix/updates
/phpinfo.php
/upload
/examples
/web.config
/phpinfo.php
.idea
_import/*
export/*
_reserv_backup_20110803/
*.log
.htaccess
.htpasswd
